extends layout

block content
    h3.
        Masters
    div
        each master, i in masterlist
            div#masters_list_item
                div.master
                h5 #{master.name}
                div.serves
                    ul
                        each service in master.services
                            li #{service.name}
    div.footer
        a(href="/newmaster") Add Master